@model RealTimeDataPulling.Models.SampleData

@{
    ViewBag.Title = "Index";
}

<h2>Real Time Data Sampling</h2>

<div class="row">
    <div>
        @Html.LabelFor(m => m.CheckPoint1)
        @Html.TextBoxFor(m => m.CheckPoint1)
    </div>
    <div>
        @Html.LabelFor(m => m.CheckPoint2)
        @Html.TextBoxFor(m => m.CheckPoint2)
    </div>
</div>

@section scripts {
<script type="text/javascript">
    $(document).ready(function () {
        function myAjax(option) {
            return new Promise((resolve, reject) => $.ajax(option).done(resolve).fail(reject));
        }

        let okNext = true;

        setInterval(async function () {
            if (okNext) {
                okNext = false;
                try {
                    const data = await myAjax({
                        url: window.location.origin + "/DataSource/Sample",
                        method: "GET",
                    });

                    $("#CheckPoint1").val(data.samples[0]);
                    $("#CheckPoint2").val(data.samples[1]);
                }
                catch (error) {
                    console.error(error);
                }
                okNext = true;
            }
        },
        1000);
    });
</script>
}



